
.nav { 
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.temas {
    width: 16%;
    height: 4vh;
    border-radius: 44px;
    background-color: rgba(213, 159, 33); 
    color: white;
    margin: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    padding: 20px;
    gap: 20px; 
}


  .tema1 {
    width: 48%;
    height: calc(100vh / 3 - 20px); 
    border-radius: 44px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px; 
    filter: brightness(0.9); 
  }
  
  .tema2 {
    width: 100%;
    height: 20%; 
    background-color: rgba(213, 159, 33, 0.8); 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 44px;
    border-bottom-right-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .verMais {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); 
  }
  
