.buttonicon {
  display: flex;
  align-items: center;
  border: none;
  background-color: #4285F4; /* Cor do Google */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.buttonicon:hover {
  background-color: #000000; /* Cor do Google ao passar o mouse */
}

.iconGoogle {
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.iconGoogle svg {
  width: 20px; /* Ajusta o tamanho do ícone */
  height: 20px;
}
